extends layout
block content
    h2 projects

    #list
        ul#project-list
            each project in projects
                li
                    a(href="/project/#{project.id}/items")= project.title
                    a.delete(href="/project/#{project.id}") X
        form(action="/projects", method="post")
            input(type="text" name="title")