extends ./layout
block content
    form(action="/sign", method="post")
        fieldset
            legend Sing up
            p
                label(for="name")
                input(type="text", name="user[name]")
            p
                label(for="email")
                input(type="text", name="user[email]")
            p
                label(for="password")
                input(type="password", name="user[password]")
            p
                button(type="submit") Save
            p
                a(href="/") Go back