.navbar{
    background-color: #393D49;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearfix:after{
    display: table;
    content: ' ';
    clear: both;
}
.text-center{
    text-align: center;
}
.login{
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat 100% 100%;
    position: relative;
}
.login .layui-tab{
    margin: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #FFF;
    right: 400px;
    top: 300px;
    border: none;
}
.login .layui-tab-title{
    background-color: transparent;
}
.login .layui-tab-title li{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
    background-color: rgba(0,0,0,.7);
    font-size: 18px;
}
.login .layui-tab-card>.layui-tab-title .layui-this{
    color: #000;
}
.login .layui-input-inline{
    width: 100%;
    margin-bottom: 20px;
}
.login .layui-tab-item{
    padding: 20px;
}
.login .layui-btn{
    width: 100%;
    font-size: 18px;
}
.layui-form{
    max-width: 500px;
}