<form class="layui-form" action="{:url('index/filing')}">
    <div class="layui-form-item">
        <label class="layui-form-label">车主</label>
        <div class="layui-form-mid layui-word-aux">{$case.owner}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">保单号</label>
        <div class="layui-form-mid layui-word-aux">{$case.order_num}</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">时间</label>
        <div class="layui-form-mid layui-word-aux">{$case.time}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">位置</label>
        <div class="layui-form-mid layui-word-aux">{$case.place}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">定损员</label>
        <div class="layui-form-mid layui-word-aux">{$case.employee_name}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">定损金额</label>
        <div class="layui-form-mid layui-word-aux">{$case.amount}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">定损描述</label>
        <div class="layui-form-mid layui-word-aux">{$case.intro}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-form-mid layui-word-aux">{eq name="$case.state" value="2"}等待预付{/eq}</div>
        <div class="layui-form-mid layui-word-aux">{eq name="$case.state" value="3"}已经预付{/eq}</div>
    </div>
    <input type="hidden" name="case_id" value="{$case.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            {eq name="$case.state" value="2"}
            <a href="javascript:;" class="layui-btn" id="Li_An">立案</a>
            {/eq}
            {eq name="$case.state" value="3"}
            <button class="layui-btn" lay-submit lay-filter="formDemo">立案</button>
            {/eq}

            <a href="{:url('index/index')}" type="reset" class="layui-btn layui-btn-primary">取消</a>
        </div>
    </div>
</form>