<form class="layui-form" action="{:url('order/addOrder')}">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="user_name" value="{$_COOKIE['name']}" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">保险类型</label>
        <div class="layui-input-block">
            <select name="order_cate" lay-verify="required" lay-filter="Order_Select">
                <option value=""></option>
                {foreach name="cate" item="i"}
                    <option value="{$i.id}">{$i.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">保险项目</label>
        <div class="layui-input-block" id="Order_Item"></div>
    </div>
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">开始时间</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="text" class="layui-input" id="Order_Start_Time">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">结束时间</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="text" class="layui-input" id="Order_End_Time">-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">金额</label>
        <div class="layui-input-inline">
            <input type="number" name="amount" lay-verify="required"  placeholder="￥" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <a href="{:url('order/index')}" class="layui-btn layui-btn-primary">取消</a>
        </div>
    </div>
</form>