<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nodejs-api-文档</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../libaray/prismjs/prism.css">
</head>

<body>
  <pre class="line-numbers">
    <code class="language-javascript">
      console.log('hello world');
    </code>
  </pre>
  <script src="../libaray/prismjs/prism.js"></script>
</body>

</html>